#task {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: calc(100% - 425px);
  height: 100vh;
  width: 425px;
  color: var(--font-color);
  background-color: var(--modal-background-color);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
  animation: task-slide-in 0.2s ease;
}

#task.active {
  display: block;
}

#task .task-header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;
}

#task-close {
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 8px;
}

#task-close:hover {
  background-color: var(--modal-option-hover);
}

.task-content-scroll {
  overflow-y: auto;
  height: calc(100vh - 144px);
  padding: 0 24px;
}

.task-content-scroll > .task-content {
  display: grid;
  grid-template-rows: max-content max-content minmax(120px, max-content);
  gap: 24px;
}

.title {
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 8px;
  align-items: center;
}

.title-editable {
  border-radius: 50px;
  padding: 16px;
}

.title-editable:hover {
  background-color: var(--modal-option-hover);
}

#task-checkbox {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 3px solid grey;
  background-color: white;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#task-checkbox:checked {
  background-color: var(--body-bg-gradient-top);
}

#task-title {
  font-size: 20px;
  overflow: auto;
  color: var(--font-color);
}

#task-title.task-complete {
  color: grey;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.options {
  display: grid;
  grid-auto-rows: max-content;
  gap: 16px;
}

.options > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--modal-background-medium);
  cursor: pointer;

  > #add-my-project,
  #add-important,
  #add-due {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}

.options > div > span {
  font-size: 24px;
  padding-left: 32px;
  padding-right: 16px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-option {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu-option:hover {
  background-color: var(--modal-option-hover);
}

#due-menu {
  position: absolute;
  top: 60px;
  left: calc(377px / 2);
  transform: translateX(-50%);

  height: max-content;
  width: 280px;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#date-picker {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 16px 8px;
  background-color: var(--calendar-bg);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.note {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--modal-background-medium);
}

#task-note {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  color: var(--font-color);
  white-space: pre-wrap;
  padding: 8px;
  border-radius: 8px;
}

#task-note.placeholder:empty::before {
  content: attr(placeholder);
  color: grey;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

#task-creation {
  font-size: 18px;
}

#task-delete {
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#task-delete:hover {
  background-color: var(--modal-option-hover);
}

@keyframes task-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#important-menu {
  position: absolute;
  top: 60px;
  left: calc(377px / 2);
  transform: translateX(-50%);

  height: max-content;
  width: 280px;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#important-menu .menu-option {
  cursor: pointer;
  height: 60px;
  padding: 8px;

  display: grid;
  grid-template-columns: 44px 1fr 44px;
  gap: 8px;
}

#important-menu .menu-option > * {
  pointer-events: none;
  align-self: center;
}

#important-menu .menu-option > :first-child {
  justify-self: center;
}

#important-menu .menu-option:hover {
  background-color: var(--modal-option-hover);
}

#important-menu.hidden {
  display: none;
}

#due-menu.hidden {
  display: none;
}

#project-menu {
  position: absolute;
  top: 60px;
  left: calc(377px / 2);
  transform: translateX(-50%);

  height: max-content;
  width: 280px;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#project-menu.hidden {
  display: none;
}
