@font-face {
    font-family: 'Josefin Slab Bold';
    src: url('./JosefinSlab-Bold.ttf') format('truetype');
    font-family: 'Roboto';
    src: url('./Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

:root {
    --background-color: #171717;
    --font-color: #CBCBCB;
    --orange-color: #D07B69;
    --transparent: rgba(0, 0, 0, 0);
    --purple-med: #8E5463;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto';
}

#container {
    min-height: 100%;
    min-width: 370px;
    padding: 0 48px;
    height: 100vh;
    width: auto;
    background-image: linear-gradient(
        to bottom,
        var(--background-color) 0%,
        var(--background-color) 60%,
        var(--orange-color) 400%
    );
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

@media only screen and (min-width: 1400px) {
    #container {
        padding: 0 400px;
    }
}

header {
    grid-area: header;
    height: 80px;
    max-width: auto;
    background-color: var(--transparent);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

h3 {
    font-family: 'Roboto';
}

.title {
    display: flex;
    align-items: center;    

    h1 {
        font-family: 'Josefin Slab Bold';
        color: var(--font-color);
        font-size: 40px;
        text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.76);
    }
}

#theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 36px;
    width: 72px;
    border-radius: 50px;
    padding: 8px;
    gap: 16px;
    fill: var(--font-color);
    

    svg {
        z-index: 1;
    }

    #icon-sun {
        fill: var(--icon-sun);
        stroke: var(--icon-sun);
    }

    #icon-moon {
        fill: var(--icon-moon);
        stroke: var(--icon-moon);
    }
}

#nav-open {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    font-size: 32px;
    color: var(--font-color);
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}

#content {
    background-color: var(--transparent);
    max-width: auto;
    padding: 24px;
    color: var(--font-color);
}

#project-title {
    font-family: 'Roboto';
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
        margin-top: -12px;
    }
}

#add-task {
    height: 60px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--purple-med);
    box-shadow: var(var(--background-color));

    display: grid;
    grid-template-columns: 44px 1fr;
    gap: 8px;
    margin-top: 0.5rem;
}

#add-task > * {
    height: 100%;
    background-color: transparent;
}

#add-task span {
    font-size: 32px;
    font-weight: 300;
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-input {
    font-size: 20px;
    font-weight: 600;
    color: var(--background-color);
    border: var(--transparent);
}

#add-task-input::placeholder {
    color: rgb(167, 167, 167);
}

#add-task-input:focus {
    border-color: var(--transparent);
    outline: none; 
}

.task {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--purple-med);
    user-select: text;

    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-areas:
        "checkbox description"
        "checkbox info";
    column-gap: 8px;
    margin-top: 0.5rem;
}

.task-content {
    color: var(--background-color);
}

.task-checkbox {
    grid-area: checkbox;
    justify-self: center;
    height: 24px;
    width: 24px;
    margin-top: 6px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

#nav {
    display: none; 
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    height: 100vh;
    min-height: 100vh;
    width: 375px;
    color: var(--font-color);
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    animation: nav-slide-in .2s ease;
}

#nav.active {
    display: block; 
}
/*
#nav > .content {
    height: 100%;   
    width: 100%;    
    padding: 0 24px 24px 24px;
    user-select: none;
    color: var(--font-color);
    background-color: var(--background-color);
}
*/

.nav-item {
    padding-left: 32px;
    padding-right: 16px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        pointer-events: none;
    }
    .project-task-count {
        height: 32px;
        width: 32px;

        border-radius: 50%;
        color: white;
        background-color: var(--body-bg-gradient-top);
        font-size: 1.17em;
        font-weight: 400;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-delete {
        display: none;
        pointer-events: auto;
    }
}
.nav-item.active {
    padding-left: 16px;
    background-color: var(--modal-option-hover);
}
.nav-item:hover {
    background-color: var(--modal-option-hover);

    .project-delete {
        display: block;
    }
}


#nav:modal {
    max-height: 100vh;
    max-width: 100vh;
}
/*
#nav::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
*/
@keyframes nav-slide-in {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

#task {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: calc(100% - 425px);
    height: 100vh;
    width: 425px;
    color: var(--font-color);
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    animation: task-slide-in 0.2s ease;
}

#task.active {
    display: block;
}

#task .task-header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 16px;
}

#task-close {
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#task-close:hover {
    background-color: var(--modal-option-hover);
}

.task-content-scroll {
    overflow-y: auto;
    height: calc(100vh - 144px);
    padding: 0 24px;
}
/*
.task-content {
    display: grid;
    grid-template-rows: max-content max-content minmax(120px, max-content);
    gap: 24px;
}
*/
.title {
    display: grid;
    grid-template-columns: 44px 1fr;
    gap: 8px;
    align-items: center;
}

#task-checkbox {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 3px solid grey;
    background-color: white;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#task-checkbox:checked {
    background-color: var(--body-bg-gradient-top);
}

#task-title {
    font-size: 20px;
    overflow: auto;
}

#task-title.task-complete {
    color: grey;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.options {
    display: grid;
    grid-auto-rows: max-content;
    gap: 16px;
}

.options > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--modal-bg);
    cursor: pointer;
}

.options > div > span {
    font-size: 24px;
}

.menu-option {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.menu-option:hover {
    background-color: var(--modal-option-hover);
}

#due-menu {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    background-color: var(--modal-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    gap: 8px;
}

#date-picker {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 16px 8px;
    background-color: var(--calendar-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.note {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--modal-bg);
}

#task-note {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    color: var(--modal-input-text);
    white-space: pre-wrap;
}

#task-note.placeholder:empty::before {
    content: attr(placeholder);
    color: grey;
}

.task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

#task-creation {
    font-size: 18px;
}

#task-delete {
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#task-delete:hover {
    background-color: var(--modal-option-hover);
}

@keyframes task-slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}